<nb-card>
  <nb-card-header>
    <span>Detalle de Orden</span>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="order">

      <div class="product-detail">
        <div class="form-group">
          <label for="productName" class="label" fullWidth>Nombre del Producto</label>
          <input id="productName" type="text" nbInput  value="{{order.product.name}}" readonly fullWidth>
        </div>
        <div class="form-group">
          <label for="productAmount" class="label" fullWidth>Cantidad</label>
          <input id="productAmount" type="number" nbInput readonly fullWidth value="{{order.orderAmount}}">
        </div>
      </div>
      <h4 class="text-center">Progreso</h4>
      <nb-progress-bar [value]="orderPercentage" status="primary" [displayValue]="true"></nb-progress-bar>
      <form [formGroup]="group">
        <div class="form-group">
          <label for="subOrderName" class="label" fullWidth>Proceso Actual</label>
          <input id="subOrderName" formControlName="value" type="text" nbInput value="{{order.actualProcess.toString()}}"
                 fullWidth readonly>
        </div>
        <div class="form-group">
          <label for="value" class="label" fullWidth>{{isEmit ? 'Valor Inicial' : 'Valor Final'}}</label>
          <input id="value" formControlName="value" type="number" nbInput value="{{order.product.name}}" fullWidth>
        </div>
        <button type="submit" [disabled]="group.invalid" nbButton
                status="info" (click)="submitSubOrder()">{{isEmit ? 'Empezar' : 'Finalizar'}}</button>
      </form>
    </div>
  </nb-card-body>
</nb-card>
