<nb-card>
  <nb-card-header>
    <span>Detalle de Orden</span>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="order">

      <div class="product-detail">
        <div class="form-group">
          <label for="productName" class="label" fullWidth>Nombre del Producto</label>
          <input id="productName" type="text" nbInput value="{{order.product.name}}" readonly fullWidth>
        </div>
        <div class="form-group">
          <label for="productAmount" class="label" fullWidth>Cantidad de la orden</label>
          <input id="productAmount" type="number" nbInput readonly fullWidth value="{{order.orderAmount}}">
        </div>
      </div>
      <h4 class="text-center" [style.margin]="'20px 0'">Progreso</h4>
      <nb-progress-bar [value]="orderPercentage" status="primary" [displayValue]="true"></nb-progress-bar>
      <ng-container *ngIf="!isOrderFinished(); then form ;else orderFinished"></ng-container>
      <ng-template #form>
        <form [formGroup]="group">
          <div class="row">
            <div class="" [ngClass]="{'col-12 row': !isAdditionalData, 'col-6': isAdditionalData}">
              <div class="form-group" [ngClass]="{'col-12': isAdditionalData, 'col-6': !isAdditionalData}">
                <label for="subOrderName" class="label" fullWidth>Proceso Actual</label>
                <input id="subOrderName"  type="text" nbInput
                       value="{{order.actualProcess.toString()}}"
                       fullWidth readonly>
              </div>
              <div class="form-group" *ngIf="isTemperatureData" [ngClass]="{'col-12': isAdditionalData, 'col-6': !isAdditionalData}">
                <label for="value" class="label" fullWidth>{{isEmittedState ? 'Masa Inicial (Kg)' : 'Masa Final (Kg)'}}</label>
                <input id="value" formControlName="value" type="number" nbInput
                       fullWidth>
              </div>
            </div>
            <div class="col-md-6" *ngIf="isAdditionalData">
              <div class="form-group">
                <label for="additionalValue" class="label"
                       fullWidth>
                  {{isTemperatureData? 'Temperatura Final (˚C)': isWeightData ? 'Scrap (Porcentaje)' : isQuantityData ? 'Botellas Terminadas' : 'Valor adicional'}}
                </label>
                <input id="additionalValue" formControlName="additionalData" type="number" nbInput
                       fullWidth>
              </div>
            </div>
          </div>
          <div fullWidth class="text-center">
            <button type="submit" [disabled]="group.invalid" nbButton
                    status="info" (click)="submitSubOrder()">{{isEmittedState ? 'Empezar' : 'Finalizar'}}</button>
          </div>
        </form>
      </ng-template>
      <ng-template #orderFinished>
        <h4 class="text-center" [style.margin]="'40px 0'">Finalizada</h4>
      </ng-template>
    </div>
  </nb-card-body>
</nb-card>
